:root {
    --password_2009: #180000;
    --password_2016_shade_1: #0dafce;
    --password_2016_shade_2: #0662b8;
    --password_2016_shield_1: #f8dd44;
    --password_2016_shield_2: #b35313;
    --password_2016_background: #462b00;
    --password_2025_shade_1: #070317;
    --password_2025_shade_2: #29095f;
    --password_2025_shade_3: #1303273b;
    --password_2025_shade_4: #3208389e;
    --password-disabled: #b30000;
    --password-correct: #41c40d;
    --password-pass: #ffa500;
    --password-pass_2:#cf8600;
    --password-shake-distance: 1vw;
}

.page {
    padding: 0;
    height: 100vh;
}

.centered {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

div#menu, div#game {
    background-color: var(--password_2009_shade_1);
    background-image: linear-gradient(180deg, var(--password_2016_shade_1), var(--password_2016_shade_2));
    justify-content: center;
    padding: 1vw;
}

button#exit_button {
    position: absolute;
    top: 0;
    left: 0;
    border: 0;
    height: 5vh;
    width: 5vh;
    border-radius: 50%;
    margin: 2.5vh;
}

div#password_ingame_status {
    display: flex;
    flex-wrap: wrap;
}

div#password_ingame_recap {
    width: 50%;
}

div#password_ingame_content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.password-button {
    width: 100vw;
    border-radius: 5px;
    color: white;
    padding: 1vh 1vw 1vh 1vw;
    font-weight: bold;
    transition: 0.25s;
    text-shadow: 0 0 20px #575757;
    height: 7.5vh;
}

.password_2009 .password-button {
    border: 3px solid var(--gray);
    background: linear-gradient(135deg, #000000, #494949);
}
.password_2016 .password-button {
    border: 1px solid var(--password_2016_shield_2);
    background-color: var(--password_2016_shield_1);
    text-shadow: 0 0 20px var(--password_2016_shield_2);
    background-image: linear-gradient(var(--password_2016_shield_1), var(--password_2016_shield_2) 75%);
    max-width: 80vw;
    margin: 0.5vw;
    border-radius: 10vw;
    font-size: x-large;
}

.password-button:hover {
    color:white;
    border: 2px solid white;
}
.password-button:hover {
    color:white;
}

#password_ingame_display {
    font-size: 2rem;
    padding: 0.5rem 1.5rem;
    margin: 5px;
    max-width: 90vw;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
div#password_timer_global {
    font-size: 1.5rem;
    /* margin-left: auto; */
    padding: 0 1.5rem;
}

.password-shield {
    justify-content: center;
    margin: 1vw;
    border-radius: 20px;
    background-color: black;
    font-weight: bold;
    letter-spacing: 3px;
    align-items: center;
    transition: 0.25s;
}


.material-symbols {
    font-size: xxx-large;
}

.password_2009 .password-shield {
    border: 3px solid var(--password-disabled);
    text-shadow: 0 0 20px red;
    background-color: black;
}
#password_recap_placeholder .password-shield {
    min-height : 5vh;
    font-size: larger;
}

.password_2016 .password-shield, .modal.password_2016 .password-shield {
    text-shadow: 0 0 20px var(--password_2016_shield_2);
    border: 1px solid var(--password_2016_shield_2);
    background-color: var(--password_2016_shield_1);
    background-image: linear-gradient(var(--password_2016_shield_1), var(--password_2016_shield_2) 75%);
    box-shadow: 0px 2px 0px 0px #00000080;
    color: white;
}
.password_2016 #password_recap_placeholder .password-shield.disabled {
      background-image: linear-gradient(var(--password-disabled));
    color:white;
    border-color:black;
}
.password_2016 #password_recap_placeholder .password-shield.correct {
    background-image: linear-gradient(var(--password-correct));
    color:white;
    border-color:black;
}

.password_2016 .not-started .password-shield, .modal.password_2016 .password-shield {
    text-shadow: 0 0 20px var(--password_2016_shield_2);
    border: 1px solid var(--password_2016_shield_2);
    background-color: var(--password_2016_shield_1);
    background-image: linear-gradient(var(--password_2016_shield_1), var(--password_2016_shield_2) 75%);
    box-shadow: 0px 2px 0px 0px #00000080;
    color: #ffffff47;
    opacity: 0;
    height: 0;
}

#password_controls.not-started button {
    opacity: 0.25;
    transform: translateY(7.5vh);
}

.password_2025 #password_ingame_display.password-shield {
    /* border: 3px solid var(--password-disabled); */
    /* text-shadow: 0 0 20px red; */
    /* background-color: black; */
    height: 9vh; /* adjust to control the size  */
    width: 70vw;
    /* box-shadow: inset 0 0 5px black; */
    aspect-ratio: cos(30deg);
    clip-path: polygon(-60% 50%,50% 100%,160% 50%,50% 0);
    background: #3B8686;
    display: flex;
    align-items: center;
    justify-content: center;
}

#game.password_2016 div#ingame_option {
    background-color: var(--password_2016_background);
}
span.word_indicator::before {
    width: 0vh;
    height: 3vh;
    background-color: #25252500;
    transition: 0.25s;
}
span.word_indicator {
    width: 3vh;
    height: 3vh;
    background-color: #252525;
    /* margin: 0.25em; */
    border-radius: 100%;
    /* box-shadow: inset -1px -1px 3px black; */
    /* display: inline-block; */
    margin: 5px;
    transition: 0.25s;
}
div#game.password_2016 span.word_indicator {
    background-color: #252525;
}
span.word_indicator.pass {
    background-color: orange;
    animation: 0.5s infinite alternate cubic-bezier(0.65, 0.05, 0.36, 1) animation-word-indicator-pass-pending;
}
span.word_indicator.disabled, div#game.password_2016 span.word_indicator.disabled {
    background-color: #c40d0d;
}
#password_ingame_status span.word_indicator.disabled, div#game.password_2016 #password_ingame_status span.word_indicator.disabled {
    animation: 0.25s ease-in-out animation-word-indicator-shake;
}
span.word_indicator.correct, div#game.password_2016 span.word_indicator.correct {
    background-color: var(--password-correct);
}

span.word_indicator.highlighted {
    outline: 4px solid #f1f1f1;
}
@keyframes animation-word-indicator-shake {
    20% {
        transform: translateX(var(--password-shake-distance));
    }
    40% {
        transform: translateX(calc(var(--password-shake-distance) * -1));
    }
    60% {
        transform: translateX(var(--password-shake-distance));
    }
    80% {
        transform: translateX(calc(var(--password-shake-distance) * -1));
    }
}

@keyframes animation-word-indicator-pass-pending {
    0% {
        background-color: var(--password-pass);
    }
    100% {
        background-color: var(--password-pass_2);
    }
}

div#password_ingame_status {
    display: flex;
    flex-wrap: wrap;
}

div#password_recap {
    /* align-items: flex-start; */
    height: 80vh;
    /* overflow: auto; */
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

div#password_recap_placeholder {
    height: 80%;
    overflow: auto;
}

.password-changing-word {
    animation: 0.5s cubic-bezier(0.65, 0.05, 0.36, 1) animation-password-changing-word;
}

@keyframes animation-password-changing-word {
    25% {
        
        border-color: var(--password-pass);
    }
    50% {
        transform: scaleX(0) scale(1);
    }
    75% {
        border-color: var(--password-pass);
    }
}

#button_password_start.started {
    margin: 0rem 0 0;
    height:0;
    opacity:0;
}