body.style_2009 {background-color: #120000;}
body.style_2016 {background-color: #008ccf;}

body {
    margin: 0;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: white;
}

#game {display: flex;height: 100vh;flex-direction: column;align-content: center;align-items: center;justify-content: center;}

h1 {
    color: #007BFF;
}

.word.correct {
    color: #00ff14;
    text-shadow: 0 0 5px black;
    background: linear-gradient(135deg, #000000, #004116);
    border: 3px solid #1bad00;
    margin-bottom: -3vh;
}

.word.wrong {
    color: #ffe173;
    text-shadow: 0 0 5px #000000;
    background: linear-gradient(135deg, #000000, #413f00);
    border: 3px solid #ad9000;
    margin-bottom: -3vh;
    text-align: left;
}

#wordDisplay {
    margin: 0.75em;
    text-align: center;
    font-size: 1.5em;
    border-radius: 20px;
    background-color: black;
    text-transform: uppercase;
    padding: 0.1em;
    font-weight: bold;
    letter-spacing: 3px;
    border: 3px solid #b30000;
    text-shadow: 0 0 20px red;
    transition: 0.5s;
    width: 80vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.25s;
}

.word_changed {
    animation: changing_word 0.25s alternate;
}
@keyframes changing_word {
  0% {
    transform:rotateY(-90deg);
  }
  100% {
    transform:rotateY(0deg);
  }
}

.recap_word {
    text-align: left;
    display: flex;
    align-items: center;
    font-weight: bold;
    letter-spacing: 3px;
    background-color: black;
    border: 2px solid #b30000;
    border-radius: 5px;
    margin: 2px;
    padding: 5vw;
    justify-content: flex-start;
    width: 80vw;
}

button {
    width: 100vw;
    font-size: 0.5em;
    text-align: center;
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
    padding: 1vh;
    margin: 1vh;
    font-weight: bold;
    letter-spacing: 3px;
    transition: 0.5s;
    border: 3px solid #737373;
    background: linear-gradient(135deg, #000000, #494949);
    text-shadow: 0 0 20px #575757;
    height: 100%;
}

div#controls {
    display: flex;
    position: fixed;
    bottom: 0;
    width: 97.5vw;
    height: 10vh;
    align-items: center;
    justify-content: space-around;
    padding: 1vh;
}

div#controls button {
    margin:0.25vh;
}

div#rules, #rules h3 {
    background-color: #0000004f;
    margin: 1em;
    border: 1px solid #390000;
    border-radius: 20px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    padding: 0.5em;
}

#rules ul {
    text-align: initial;
}

html {
}

div#content {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div#wordsStatus {
    height: 5vh;
    /* width: 80vw; */
    margin: 0.75em;
    border-radius: 10px;
    background-color: black;
    padding: 0.5em;
    border: 3px solid #777777;
    display: flex;
    justify-content: center;
    align-items: center;
}

span.word_indicator {
    width: 3vh;
    height: 3vh;
    background-color: #4d4d4d;
    margin: 0.25em;
    border-radius: 100%;
    box-shadow: inset -1px -1px 3px black;
    display: inline-block;
    transition: 0.25s;
    margin-right: 5vw;
}

span.word_indicator.correct {background-color: #41c40d;}
span.word_indicator.disabled {background-color: #c40d0d;}

div#recapDisplay {
    height: 70vh;
    overflow: overlay;
}